@font-face {
  font-family: "Rats Get Fat";
  src: url("../fonts/RatsGetFatRegular-RoW6.ttf");
}

@font-face {
  font-family: "Berkahi-Blackletter";
  src: url("../fonts/Berkahi-Blackletter.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Regular.ttf");
}